html {font-size: 15px;}

html, body {
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	background: #7d2a0c;
	overflow: hidden;
}

* {
	font-family: "Inkwell Sans";
	font-weight: 500;
	box-sizing: border-box;
}

div {
	display: flex;
	flex-direction: column;
}



/* Bread */
.bread {
	--slice-dimension: 25rem;
	--slice-thickness: 4rem;
	--border-width: 1rem;
	--border-radius: 2rem;
	--slice-offset: calc(var(--slice-dimension) + var(--border-width));
	flex-direction: row;
	margin-bottom: 4rem;
}

.bread-slice {
	position: relative;
	padding: var(--border-width);
	padding-right: var(--slice-thickness);
	border-radius: var(--border-radius);
	background: var(--bread2);
	transition: all 0.5s;
	overflow: hidden;
}
.bread .bread-slice:not(:last-child) {margin-right: calc(-1 * var(--slice-offset));}
/* .bread-slice:nth-child(odd) {transform: rotate(2deg);}
.bread-slice:nth-child(even) {transform: rotate(-2deg);} */

.current-slice:not(.bread-slice:first-child) {margin-left: calc(var(--slice-offset) + 4rem);}

.bread-face {
	justify-content: space-between;
	align-items: center;
	text-align: center;
	height: var(--slice-dimension);
	width: var(--slice-dimension);
	font-size: 1rem;
	padding: 3rem 2rem;
	border-radius: calc(var(--border-radius) - var(--border-width));
	background: var(--bread1);
	background-image: url("../img/bread-texture.png");
	color: var(--toast3);
	overflow: hidden;
	z-index: 6;
}

.bread-shadow {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: var(--slice-thickness);
	background: linear-gradient(90deg, transparent, #0002);
	z-index: 5;
}

.title {
	font-family: "Inkwell Tuscan";
	font-size: 1.5rem;
	font-weight: 900;
	color: var(--toast3);
}
.title span {
	align-self: flex-end;
	font-size: 1rem;
	font-weight: 700;
	color: var(--toast1);
}

.bread-clip-container {
	flex-direction: row;
	align-items: center;
}

.bread-clip {filter: drop-shadow(0 0 0.5rem #0005);}
.bread-clip + .bread-clip {margin-left: 0.7rem;}

.bread-clip-container .bread-clip:nth-child(1) {width: 4.5rem;}
.bread-clip-container .bread-clip:nth-child(1) path {fill: #00a9a6;}
.bread-clip-container .bread-clip:nth-child(2) {width: 5rem;}
.bread-clip-container .bread-clip:nth-child(2) path {fill: white;}
.bread-clip-container .bread-clip:nth-child(3) {width: 4rem;}
.bread-clip-container .bread-clip:nth-child(3) path {fill: #ba365c;}

.info {display: block;}
.info span {
	font-weight: 700;
	color: var(--toast1);
}



/* Examples */
.slice2 .bread-face {padding: 2rem;}

.clip-example-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.clip-example {
	font-size: 0.7em;
	font-style: italic;
	color: var(--toast1);
}

.clip-example img {
	width: 5.1rem;
	margin-bottom: 0.8em;
}



/* Why */
.slice3 .bread-face {
	font-size: 1.3rem;
	padding: 4rem 2rem;
}

.quarter-container {
	flex-direction: row;
	align-items: center;
	font-size: 5rem;
	font-weight: 900;
	color: var(--toast1);
}

.quarter {
	width: 6rem;
	margin-right: 1rem;
}



/* How */
.how-row {
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	text-align: left;
}

.how-row img {
	height: 3rem;
	margin-right: 2rem;
}

.how-num {
	justify-content: flex-start;
	align-items: flex-start;
	height: 100%;
	min-width: 1em;
	font-family: "Inkwell Tuscan";
	font-size: 2rem;
	font-weight: 900;
	margin-right: 0.5rem;
	color: var(--toast1);
}



/* Form */
.slice5 .bread-face {padding: 2.2rem;}

.form {width: 100%;}

.form-row {
	align-items: flex-start;
	width: 100%;
}
.form-row + .form-row {margin-top: 0.6rem;}

.form-question {
	font-size: 0.9em;
	margin-bottom: 0.3em;
}

.form-answer {width: 100%;}

.name-input, .clip-counter {height: 2rem;}
.name-input, .clip-input {
	font-size: 0.9em;
	padding: 0 1em;
	margin: 0;
	color: var(--toast1);
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;
}

.name-input {
	width: 100%;
	border: 0;
	border-radius: 0.4rem;
	background: white;
}

.clip-row {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.5rem !important;
}

.clip-row .form-question {margin: 0;}

.clip-counter {
	flex-direction: row;
	width: 10rem;
	border-radius: 0.5rem;
	overflow: hidden;
}
.clip-counter > * {height: 100%;}

.clip-input {
	text-align: center;
	width: 100%;
	border: 0;
	border-left: 0;
	border-right: 0;
	background: white;
}

.clip-adj {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 2.2rem;
	font-size: 0.9rem;
	border: 0;
	outline: none;
	background: var(--toast1);
	color: white;
	cursor: pointer;
}
.clip-adj, .clip-adj svg {transition: all 0.05s;}
.clip-adj:nth-child(1) svg {transform: scaleX(-1);}
.clip-adj:hover {background: var(--toast3);}
.dec:active svg {transform: translateY(0.15rem) scaleX(-1);}
.inc:active svg {transform: translateY(-0.15rem);}

.submit-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3.5rem;
	width: 100%;
	font-family: "Inkwell Tuscan";
	font-size: 1.5rem;
	font-weight: 700;
	border: 0;
	border-radius: 999rem;
	outline: 0;
	background: var(--toast1);
	color: white;
	cursor: pointer;
	transition: all 0.05s;
}
.submit-btn:hover {background: var(--toast3);}
.submit-btn:active {transform: rotate(-2deg);}



/* Nav */
.nav-container {
	opacity: 0;
	color: var(--bread1);
	animation: fade-in 1s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}
@keyframes fade-in {
	to {opacity: 1;}
}

.desktop-nav {
	flex-direction: row;
	align-items: center;
	font-size: 2.5rem;
}

.mobile-nav {
	display: none;
	font-size: 2rem;
}

.arrow-key-container {
	flex-direction: row;
	align-items: center;
	margin: 0 0.5em;
}

.arrow-key {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 3em;
	width: 3em;
	font-size: 0.5em;
	margin-bottom: 0.3em;
	border: 0.2em solid var(--bread2);
	border-radius: 0.5em;
	background: var(--bread1);
	color: var(--toast3);
	filter: drop-shadow(0 0.3em var(--bread2));
}
.arrow-right {margin-left: 0.5em;}
.arrow-left svg {transform: rotate(180deg);}