html { font-size: 11px; }

.github-corner { display: none !important; }

.bread { flex-direction: column; }

.bread-slice {
	width: 100%;
	padding-right: var(--slice-border-width);
	padding-bottom: 0;
	margin: 0;
}
.bread .bread-slice:not(:last-child) { margin-bottom: calc(-1 * var(--slice-offset)); }
.current-slice:not(.bread-slice:first-child) {
	margin-left: 0;
	margin-top: calc(var(--slice-offset) + var(--slice-spacing));
}

.bread-face {
	margin: 0;
	margin-bottom: var(--slice-thickness);
}

.bread-shadow {
	top: auto;
	bottom: 0;
}
.bread-shadow-gradient-1 { display: none; }
.bread-shadow-gradient-2 { display: none; }
.bread-shadow-gradient-mobile { display: flex; }
.bread-shadow-mobile-fix { display: flex; }



/* Nav */
.desktop-nav { display: none; }
.mobile-nav { display: flex; }
