/* Inkwell Thin */
@font-face {
	font-family: "Inkwell Serif";
	font-weight: 100;
	font-style: normal;
	src: url("inkwell-serif/otf/InkwellSerif-Thin.otf") format("opentype");
}

@font-face {
	font-family: "Inkwell Serif";
	font-weight: 100;
	font-style: italic;
	src: url("inkwell-serif/otf/InkwellSerif-ThinItalic.otf") format("opentype");
}

/* Inkwell Light */
@font-face {
	font-family: "Inkwell Serif";
	font-weight: 300;
	font-style: normal;
	src: url("inkwell-serif/otf/InkwellSerif-Light.otf") format("opentype");
}

@font-face {
	font-family: "Inkwell Serif";
	font-weight: 300;
	font-style: italic;
	src: url("inkwell-serif/otf/InkwellSerif-LightItalic.otf") format("opentype");
}

/* Inkwell Book */
@font-face {
	font-family: "Inkwell Serif";
	font-weight: 400;
	font-style: normal;
	src: url("inkwell-serif/otf/InkwellSerif-Book.otf") format("opentype");
}

@font-face {
	font-family: "Inkwell Serif";
	font-weight: 400;
	font-style: italic;
	src: url("inkwell-serif/otf/InkwellSerif-BookItalic.otf") format("opentype");
}

/* Inkwell Medium */
@font-face {
	font-family: "Inkwell Serif";
	font-weight: 500;
	font-style: normal;
	src: url("inkwell-serif/otf/InkwellSerif-Medium.otf") format("opentype");
}

@font-face {
	font-family: "Inkwell Serif";
	font-weight: 500;
	font-style: italic;
	src: url("inkwell-serif/otf/InkwellSerif-MediumItalic.otf") format("opentype");
}

/* Inkwell Bold */
@font-face {
	font-family: "Inkwell Serif";
	font-weight: 700;
	font-style: normal;
	src: url("inkwell-serif/otf/InkwellSerif-Bold.otf") format("opentype");
}

@font-face {
	font-family: "Inkwell Serif";
	font-weight: 700;
	font-style: italic;
	src: url("inkwell-serif/otf/InkwellSerif-BoldItalic.otf") format("opentype");
}

/* Inkwell Black */
@font-face {
	font-family: "Inkwell Serif";
	font-weight: 900;
	font-style: normal;
	src: url("inkwell-serif/otf/InkwellSerif-Black.otf") format("opentype");
}

@font-face {
	font-family: "Inkwell Serif";
	font-weight: 900;
	font-style: italic;
	src: url("inkwell-serif/otf/InkwellSerif-BlackItalic.otf") format("opentype");
}




/* Inkwell Tuscan */
@font-face {
	font-family: "Inkwell Tuscan";
	font-weight: 100;
	font-style: normal;
	src: url("inkwell-serif/otf/InkwellSerif-Thin.otf") format("opentype");
}

@font-face {
	font-family: "Inkwell Tuscan";
	font-weight: 300;
	font-style: normal;
	src: url("inkwell-tuscan/otf/InkwellTuscan-Light.otf") format("opentype");
}

@font-face {
	font-family: "Inkwell Tuscan";
	font-weight: 400;
	font-style: normal;
	src: url("inkwell-tuscan/otf/InkwellTuscan-Book.otf") format("opentype");
}

@font-face {
	font-family: "Inkwell Tuscan";
	font-weight: 500;
	font-style: normal;
	src: url("inkwell-tuscan/otf/InkwellTuscan-Medium.otf") format("opentype");
}

@font-face {
	font-family: "Inkwell Tuscan";
	font-weight: 700;
	font-style: normal;
	src: url("inkwell-tuscan/otf/InkwellTuscan-Bold.otf") format("opentype");
}

@font-face {
	font-family: "Inkwell Tuscan";
	font-weight: 900;
	font-style: normal;
	src: url("inkwell-tuscan/otf/InkwellTuscan-Black.otf") format("opentype");
}