/* Inkwell Sans Thin */
@font-face {
	font-family: "Inkwell Sans";
	font-weight: 100;
	font-style: normal;
	src: url("inkwell-sans/InkwellSans-Thin.woff2") format("woff2");
}

@font-face {
	font-family: "Inkwell Sans";
	font-weight: 100;
	font-style: italic;
	src: url("inkwell-sans/InkwellSans-ThinItalic.woff2") format("woff2");
}

/* Inkwell Sans Light */
@font-face {
	font-family: "Inkwell Sans";
	font-weight: 300;
	font-style: normal;
	src: url("inkwell-sans/InkwellSans-Light.woff2") format("woff2");
}

@font-face {
	font-family: "Inkwell Sans";
	font-weight: 300;
	font-style: italic;
	src: url("inkwell-sans/InkwellSans-LightItalic.woff2") format("woff2");
}

/* Inkwell Sans Book */
@font-face {
	font-family: "Inkwell Sans";
	font-weight: 400;
	font-style: normal;
	src: url("inkwell-sans/InkwellSans-Book.woff2") format("woff2");
}

@font-face {
	font-family: "Inkwell Sans";
	font-weight: 400;
	font-style: italic;
	src: url("inkwell-sans/InkwellSans-BookItalic.woff2") format("woff2");
}

/* Inkwell Sans Medium */
@font-face {
	font-family: "Inkwell Sans";
	font-weight: 500;
	font-style: normal;
	src: url("inkwell-sans/InkwellSans-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Inkwell Sans";
	font-weight: 500;
	font-style: italic;
	src: url("inkwell-sans/InkwellSans-MediumItalic.woff2") format("woff2");
}

/* Inkwell Sans Bold */
@font-face {
	font-family: "Inkwell Sans";
	font-weight: 700;
	font-style: normal;
	src: url("inkwell-sans/InkwellSans-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Inkwell Sans";
	font-weight: 700;
	font-style: italic;
	src: url("inkwell-sans/InkwellSans-BoldItalic.woff2") format("woff2");
}

/* Inkwell Sans Black */
@font-face {
	font-family: "Inkwell Sans";
	font-weight: 900;
	font-style: normal;
	src: url("inkwell-sans/InkwellSans-Black.woff2") format("woff2");
}

@font-face {
	font-family: "Inkwell Sans";
	font-weight: 900;
	font-style: italic;
	src: url("inkwell-sans/InkwellSans-BlackItalic.woff2") format("woff2");
}






/* Inkwell Tuscan */
@font-face {
	font-family: "Inkwell Tuscan";
	font-weight: 100;
	font-style: normal;
	src: url("inkwell-tuscan/InkwellTuscan-Thin.woff2") format("woff2");
}

@font-face {
	font-family: "Inkwell Tuscan";
	font-weight: 300;
	font-style: normal;
	src: url("inkwell-tuscan/InkwellTuscan-Light.woff2") format("woff2");
}

@font-face {
	font-family: "Inkwell Tuscan";
	font-weight: 400;
	font-style: normal;
	src: url("inkwell-tuscan/InkwellTuscan-Book.woff2") format("woff2");
}

@font-face {
	font-family: "Inkwell Tuscan";
	font-weight: 500;
	font-style: normal;
	src: url("inkwell-tuscan/InkwellTuscan-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Inkwell Tuscan";
	font-weight: 700;
	font-style: normal;
	src: url("inkwell-tuscan/InkwellTuscan-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Inkwell Tuscan";
	font-weight: 900;
	font-style: normal;
	src: url("inkwell-tuscan/InkwellTuscan-Black.woff2") format("woff2");
}